.button {
  align-items: center;
  background-color: #e72eed;
  border: 2px solid #f75cff;
  border-radius: 5px;
  box-shadow: 0 4px 0 #860C8D, 0 4px 0 4px #2B1977, 0 4px 0 6px #CBCAFF;
  color: #fff;
  display: flex;
  height: 55px;
  justify-content: center;
  position: relative;
  width: 68px;
}

.button span {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
}

.button:hover {
  background-color: #fa56ff;
}

.button:active {
  top: 2px;
  box-shadow: 0 2px 0 #860C8D, 0 2px 0 4px #2B1977, 0 2px 0 6px #CBCAFF;
}

.btnFullscreen span {
  background-image: url('/images/icoFullscreen.svg');
  height: 42px;
  width: 45px;
}

.btnFullscreen:active span {
  background-image: url('/images/icoFullscreenActive.svg');
}

.btnFullscreen.active span {
  background-image: url('/images/icoFullscreenOff.svg');
}

.btnFullscreen.active:active span {
  background-image: url('/images/icoFullscreenOffActive.svg');
}

.btnSound span {
  background-image: url('/images/icoSound.svg');
  height: 42px;
  width: 45px;
}

.btnSound:active span {
  background-image: url('/images/icoSoundActive.svg');
}

.btnSound.active span {
  background-image: url('/images/icoSoundOff.svg');
}

.btnSound.active:active span {
  background-image: url('/images/icoSoundOffActive.svg');
}