.container {
  align-items: center;
  background: rgba(25, 11, 94, 0.6);
  border: 2px solid #7976ff;
  border-radius: 19px;
  display: flex;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  height: 242px;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.containerEdge {
  background: url('/images/cameraEdge.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  height: 100%;
  width: 100%;
}

.header {
  align-items: center;
  background: url('/images/bgSidebarTitle.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 14px 5px 21px;
  position: absolute;
  right: -4px;
  top: -36px;
  width: 342px;
}

.icon {
  background: url('/images/icoUser.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 31px;
  width: 26px;
}

.title {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 26px;
  text-shadow: rgb(139, 19, 145) 2px 0px 0px,
    rgb(139, 19, 145) 1.75517px 0.958851px 0px,
    rgb(139, 19, 145) 1.0806px 1.68294px 0px,
    rgb(139, 19, 145) 0.141474px 1.99499px 0px,
    rgb(139, 19, 145) -0.832294px 1.81859px 0px,
    rgb(139, 19, 145) -1.60229px 1.19694px 0px,
    rgb(139, 19, 145) -1.97998px 0.28224px 0px,
    rgb(139, 19, 145) -1.87291px -0.701566px 0px,
    rgb(139, 19, 145) -1.30729px -1.5136px 0px,
    rgb(139, 19, 145) -0.421592px -1.95506px 0px,
    rgb(139, 19, 145) 0.567324px -1.91785px 0px,
    rgb(139, 19, 145) 1.41734px -1.41108px 0px,
    rgb(139, 19, 145) 1.92034px -0.558831px 0px;
}

.text {
  align-items: center;
  color: #7580ff;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  height: 100%;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

.text span {
  background: url('/images/icoCam.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 55px;
  margin-bottom: 20px;
  width: 71px;
}
