.container {
  align-items: center;
  background: #190b5e;
  border: 2px solid #7976ff;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  margin-top: 28px;
  padding: 2px 0;
  position: relative;
}

.containerEdge {
  background: url('/images/cameraEdge.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  height: 238px;
  width: 392px;
}

.header {
  align-items: center;
  background: url('/images/bgSidebarTitle.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 14px 5px 21px;
  position: absolute;
  right: -4px;
  top: -38px;
  width: 342px;
}

.icon {
  background: url('/images/icoUser.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 31px;
  width: 26px;
}

.title {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 26px;
  text-shadow: rgb(139, 19, 145) 2px 0px 0px,
    rgb(139, 19, 145) 1.75517px 0.958851px 0px,
    rgb(139, 19, 145) 1.0806px 1.68294px 0px,
    rgb(139, 19, 145) 0.141474px 1.99499px 0px,
    rgb(139, 19, 145) -0.832294px 1.81859px 0px,
    rgb(139, 19, 145) -1.60229px 1.19694px 0px,
    rgb(139, 19, 145) -1.97998px 0.28224px 0px,
    rgb(139, 19, 145) -1.87291px -0.701566px 0px,
    rgb(139, 19, 145) -1.30729px -1.5136px 0px,
    rgb(139, 19, 145) -0.421592px -1.95506px 0px,
    rgb(139, 19, 145) 0.567324px -1.91785px 0px,
    rgb(139, 19, 145) 1.41734px -1.41108px 0px,
    rgb(139, 19, 145) 1.92034px -0.558831px 0px;
}

.button {
  align-items: center;
  background: #c303c9;
  border: 1.5px solid #f75cff;
  border-radius: 50%;
  box-shadow: 0 0 0 1.5px #a714af;
  cursor: pointer;
  display: flex;
  height: 38px;
  justify-content: center;
  margin-left: 10px;
  width: 38px;
}

.button span {
  background: url('/images/icoLogout.svg') 0 0 no-repeat;
  background-size: cover;
  display: block;
  height: 22px;
  width: 22px;
}
