.wrapper {
  background-color: #251475;
  background-image: linear-gradient(
      to right,
      rgba(212, 139, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(212, 139, 255, 0.15) 1px, transparent 1px);
  background-position: 3px 0;
  background-size: 51px 51px;
  border-radius: 15px;
  border: 5px solid #251475;
  padding: 3px;
  position: relative;
  user-select: none;
  width: 100%;
}

.container {
  display: grid;
  gap: 5px;
}

.cellEmpty {
  height: 46px;
  min-height: 46px;
  min-width: 46px;
  width: 46px;
}

.cell {
  font-family: var(--asap-condensed);
  font-weight: 700;
  position: relative;
  width: 46px;
  min-height: 46px;
  min-width: 46px;
  height: 46px;
}

.cellRevealed {
  align-items: center;
  background: linear-gradient(to bottom, #e72eed 48%, #c400c9);
  border: 1px solid #f75cff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
}

.cellRevealed:before {
  background-color: #ffffff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 2px;
  transform: rotate(-30deg);
  width: 10px;
}

.cellHit {
  z-index: 6;
}

.cellChar {
  color: #ffffff;
  font-size: 40px;
  text-shadow: 
  #710E76 3px 0px 0px,
    #710E76 2.83487px 0.981584px 0px,
    #710E76 2.35766px 1.85511px 0px,
    #710E76 1.62091px 2.52441px 0px,
    #710E76 0.705713px 2.91581px 0px,
    #710E76 -0.287171px 2.98622px 0px,
    #710E76 -1.24844px 2.72789px 0px,
    #710E76 -2.07227px 2.16926px 0px,
    #710E76 -2.66798px 1.37182px 0px,
    #710E76 -2.96998px 0.42336px 0px,
    #710E76 -2.94502px -0.571704px 0px,
    #710E76 -2.59586px -1.50383px 0px,
    #710E76 -1.96093px -2.27041px 0px,
    #710E76 -1.11013px -2.78704px 0px,
    #710E76 -0.137119px -2.99686px 0px,
    #710E76 0.850987px -2.87677px 0px,
    #710E76 1.74541px -2.43999px 0px,
    #710E76 2.44769px -1.73459px 0px,
    #710E76 2.88051px -0.838247px 0px;
}

.cellTwoWords {
  background: linear-gradient(to bottom, #FFE667, #FFB700);
  border: 1px solid #FFE668;
}

.cellTwoWords .cellChar {
  text-shadow: #660700 3px 0px 0px,
    #660700 2.83487px 0.981584px 0px,
    #660700 2.35766px 1.85511px 0px,
    #660700 1.62091px 2.52441px 0px,
    #660700 0.705713px 2.91581px 0px,
    #660700 -0.287171px 2.98622px 0px,
    #660700 -1.24844px 2.72789px 0px,
    #660700 -2.07227px 2.16926px 0px,
    #660700 -2.66798px 1.37182px 0px,
    #660700 -2.96998px 0.42336px 0px,
    #660700 -2.94502px -0.571704px 0px,
    #660700 -2.59586px -1.50383px 0px,
    #660700 -1.96093px -2.27041px 0px,
    #660700 -1.11013px -2.78704px 0px,
    #660700 -0.137119px -2.99686px 0px,
    #660700 0.850987px -2.87677px 0px,
    #660700 1.74541px -2.43999px 0px,
    #660700 2.44769px -1.73459px 0px,
    #660700 2.88051px -0.838247px 0px;
}

.cellHidden {
  align-items: center;
  background-color: rgba(179, 49, 255, 0.4);
  border: 1px solid rgba(212, 139, 255, 0.4);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
  transition: background-color 0.2s, border-color 0.2s;
}

.cellHidden:hover {
  background-color: #9548f5;
  border-color: #ac6bff;
}

.cellClue {
  align-items: center;
  background-color: #97faff;
  border: 1px solid #ccfdff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding: 2px;
  position: absolute;
  top: 2px;
  left: 2px;
  gap: 2px;
}

.cellClueV {
  height: 17px;
  left: -1px;
  top: -22px;
  width: 30px;
}

.cellClueH {
  flex-direction: column;
  height: 30px;
  left: -22px;
  top: -1px;
  width: 17px;
}

.cellClueNumber {
  color: #00319c;
  font-size: 15px;
  line-height: 0.85;
}

.cellClueArrow {
  background-image: url('/images/icoArrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 10px;
  min-height: 10px;
  min-width: 10px;
  width: 10px;
}

.cellClueH .cellClueArrow {
  transform: rotate(-90deg);
}

.wordGlow {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: wordGlow;
  animation-timing-function: ease-in-out;
  background-color: rgba(221, 0, 255, 0.65);
  border-radius: 50%;
  box-shadow: 0 0 100px 30px rgba(221, 0, 255);
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 6;
}

.wordGlowH {
  left: 0px;
  top: 0px;
  height: 46px;
}

.wordGlowV {
  left: 0px;
  top: 0px;
  width: 46px;
}

@keyframes wordGlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wordEffect {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: wordGlow;
  animation-timing-function: ease-in-out;
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 6;
}

.wordEffectH {
  left: 0px;
  top: -42px;
  height: 46px;
}

.wordEffectH svg {
  left: 50%;
  position: relative;
  transform: translate3d(-50%, 0px, 0px) !important;
  width: 50% !important;
}

.wordEffectV {
  left: -38px;
  top: 0px;
  width: 120px;
}

.wordEffectV > div {
  height: 100%;
  width: 100%;
}

.wordEffectV svg {
  top: 50%;
  position: relative;
  transform: translate3d(0px, -50%, 0px) !important;
  width: 100% !important;
}
