.wrapper {
  position: relative;
  padding: 1.5rem;
  user-select: none;
  background-color: rgba(15, 23, 42, 0.5);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.container {
  display: grid;
  gap: 0.375rem;
}

.cellEmpty {
  background-color: rgba(179, 49, 255, 0.2);
  border: 1px solid rgba(212, 139, 255, 0.2);
  border-radius: 0.375rem;
  height: 3rem;
  width: 3rem;
}

.cell {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.cellRevealed {
  align-items: center;
  border: 1px solid #f75cff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
  z-index: 10;
}

.cellRevealed:before {
  background-color: #ffffff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 2px;
  transform: rotate(-30deg);
  width: 10px;
}

.cellRevealedWord {
  background: linear-gradient(to bottom, #e72eed 48%, #c400c9);
}

.cellChar {
  color: #ffffff;
  font-size: 40px;
  text-shadow: rgb(139, 19, 145) 3px 0px 0px,
    rgb(139, 19, 145) 2.83487px 0.981584px 0px,
    rgb(139, 19, 145) 2.35766px 1.85511px 0px,
    rgb(139, 19, 145) 1.62091px 2.52441px 0px,
    rgb(139, 19, 145) 0.705713px 2.91581px 0px,
    rgb(139, 19, 145) -0.287171px 2.98622px 0px,
    rgb(139, 19, 145) -1.24844px 2.72789px 0px,
    rgb(139, 19, 145) -2.07227px 2.16926px 0px,
    rgb(139, 19, 145) -2.66798px 1.37182px 0px,
    rgb(139, 19, 145) -2.96998px 0.42336px 0px,
    rgb(139, 19, 145) -2.94502px -0.571704px 0px,
    rgb(139, 19, 145) -2.59586px -1.50383px 0px,
    rgb(139, 19, 145) -1.96093px -2.27041px 0px,
    rgb(139, 19, 145) -1.11013px -2.78704px 0px,
    rgb(139, 19, 145) -0.137119px -2.99686px 0px,
    rgb(139, 19, 145) 0.850987px -2.87677px 0px,
    rgb(139, 19, 145) 1.74541px -2.43999px 0px,
    rgb(139, 19, 145) 2.44769px -1.73459px 0px,
    rgb(139, 19, 145) 2.88051px -0.838247px 0px;
}

.cellHidden {
  align-items: center;
  background-color: rgba(179, 49, 255, 0.4);
  border: 1px solid rgba(212, 139, 255, 0.4);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
  transition: background-color 0.2s, border-color 0.2s;
}

.cellHidden:hover {
  background-color: rgba(51, 65, 85, 0.6);
  border-color: rgba(168, 85, 247, 0.3);
}
