.input {
  background-color: #1f007d;
  border: 2px solid #6043ee;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #2d0b92;
  color: #fff;
  font-size: 28px;
  display: flex;
  height: 76px;
  min-height: 76px;
  outline: none;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.input:focus {
  background-color: #20066c;
  border-color: #7f66ff;
}
