.loadingOverlay {
  align-items: center;
  background-color: rgba(2, 6, 23, 0.6);
  backdrop-filter: blur(12px);
  display: flex;
  font-family: var(--font-asap-condensed);
  font-weight: 700;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: absolute;
  z-index: 10;
}

.loadingTitle {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: rgb(21, 11, 96) 3px 0px 0px,
    rgb(21, 11, 96) 2.83487px 0.981584px 0px,
    rgb(21, 11, 96) 2.35766px 1.85511px 0px,
    rgb(21, 11, 96) 1.62091px 2.52441px 0px,
    rgb(21, 11, 96) 0.705713px 2.91581px 0px,
    rgb(21, 11, 96) -0.287171px 2.98622px 0px,
    rgb(21, 11, 96) -1.24844px 2.72789px 0px,
    rgb(21, 11, 96) -2.07227px 2.16926px 0px,
    rgb(21, 11, 96) -2.66798px 1.37182px 0px,
    rgb(21, 11, 96) -2.96998px 0.42336px 0px,
    rgb(21, 11, 96) -2.94502px -0.571704px 0px,
    rgb(21, 11, 96) -2.59586px -1.50383px 0px,
    rgb(21, 11, 96) -1.96093px -2.27041px 0px,
    rgb(21, 11, 96) -1.11013px -2.78704px 0px,
    rgb(21, 11, 96) -0.137119px -2.99686px 0px,
    rgb(21, 11, 96) 0.850987px -2.87677px 0px,
    rgb(21, 11, 96) 1.74541px -2.43999px 0px,
    rgb(21, 11, 96) 2.44769px -1.73459px 0px,
    rgb(21, 11, 96) 2.88051px -0.838247px 0px;
  text-transform: uppercase;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
