.container {
  align-items: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 32px;
  top:25px;
  transform: skew(-10deg);
  width: 68px;
}