.container {
  align-items: center;
  bottom: 65px;
  display: flex;
  gap: 12.5px;
  height: 64px;
  justify-content: center;
  position: absolute;
  right: 222px;
  width: 267px;
}

.button {
  align-items: center;
  background-color: #e72eed;
  border: 2px solid #f75cff;
  border-radius: 50%;
  box-shadow: 0 2px 0 #a714af, 0 4px 0 #d400e5;
  color: #fff;
  display: flex;
  height: 43px;
  justify-content: center;
  position: relative;
  width: 43px;
}

.button span {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
}

.button:hover {
  background-color: #fa56ff;
}

.button:active {
  top: 2px;
  box-shadow: 0 2px 0 #a714af;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btnPlay span {
  background-image: url('/images/icoPlay.svg');
  height: 27px;
  width: 22px;
}

.btnPause span {
  background-image: url('/images/icoPause.svg');
  height: 25px;
  width: 22px;
}
.btnRefresh span {
  background-image: url('/images/icoRefresh.svg');
  height: 30px;
  width: 34px;
}
.btnSettings span {
  background-image: url('/images/icoSettings.svg');
  height: 28px;
  width: 28px;
}
.btnInfo span {
  background-image: url('/images/icoInfo.svg');
  height: 32px;
  width: 10px;
}

.btnLogout span {
  background-image: url('/images/icoLogout.svg');
  height: 26px;
  margin-left: 5px;
  width: 29px;
}
