.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--asap-condensed);
  font-weight: 700;
  height: 145px;
  justify-content: flex-start;
  margin: 22px 0 0;
  pointer-events: none;
  width: 260px;
}

.hit {
  z-index: 6;
}

.timeBar {
  background: #646807;
  border: 1px solid #ffff99;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #2a1c7c;
  display: block;
  height: 27px;
  margin: 15px 0 0 4px;
  transform: skew(-10deg);
  width: 245px;
}

.timeBar span {
  background: #f1ff66;
  border: 2px solid #fdffe4;
  border-radius: 1.5px;
  display: block;
  height: 100%;
  transition: width 1s linear;
}


.bottom {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icon {
  background-image: url('/images/icoProgression.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 56px;
  margin: 7px 21px 0 0;
  width: 56px;
}

.hit .icon {
  animation: pulseIcon 0.5s infinite;
}

@keyframes pulseIcon {
  0% {
    background-image: url('/images/icoProgression.svg');
  }
  50% {
    background-image: url('/images/icoProgression2.svg');
  }
  100% {
    background-image: url('/images/icoProgression.svg');
  }
}

.hit .timeBar span {
  animation: pulseBgColor 0.5s infinite;
}

@keyframes pulseBgColor {
  0% {
    background: #f1ff66;
    border-color: #fdffe4;
  }
  50% {
    background: #f8ffb8;
    border-color: #fefff8;
  }
  100% {
    background: #f1ff66;
    border-color: #fdffe4;
  }
}

.text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4px;
  width: 180px;
}

.label {
  color: #f1ff66;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1;
  margin: 4px 0 11px;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
  text-transform: uppercase;
}

.value {
  color: #f1ff66;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
}

.hit .label,
.hit .value {
  animation: pulseColor 0.5s infinite;
}

@keyframes pulseColor {
  0% {
    color: #f1ff66;
  }
  50% {
    color: #f8ffb8;
  }
  100% {
    color: #f1ff66;
  }
}
