.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: flex-start;
  margin: 22px 0 0 20px;
  width: 310px;
}

.top {
  align-items: center;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  margin: 14px 0 0 18px;
  width: 100%;
}

.icon {
  background: url('/images/icoProgression.svg') no-repeat center center;
  background-size: contain;
  display: block;
  height: 32px;
  width: 32px;
}

.timeBar {
  background: #646807;
  border: 1px solid #ffff99;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #2a1c7c;
  display: block;
  height: 30px;
  transform: skew(-15deg);
  width: 212px;
}

.timeBar span {
  background: #f1ff66;
  border: 2px solid #fdffe4;
  border-radius: 1.5px;
  display: block;
  height: 100%;
  transition: width 1s linear;
}

.text {
  align-items: center;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 0 0;
  width: 180px;
}

.label {
  color: #f1ff66;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 0.5;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
}

.value {
  color: #f1ff66;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
}
