.container {
  align-items: center;
  background: rgba(25, 11, 94, 0.6);
  border: 2px solid #7976ff;
  border-radius: 19px;
  display: flex;
  font-family: var(--nunito);
  font-weight: 700;
  height: 228px;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.containerEdge {
  background: url('/images/qrCodeEdge.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.header {
  align-items: center;
  background: url('/images/bgSidebarTitle.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 14px;
  position: absolute;
  right: -4px;
  top: -36px;
  width: 342px;
}

.icon {
  background: url('/images/icoJoystick.svg') no-repeat center center;
  background-size: contain;
  display: block;
  height: 27px;
  margin-left: 4px;
  width: 32px;
}

.title {
  color: #ffffff;
  display: block;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: rgb(139, 19, 145) 2px 0px 0px,
    rgb(139, 19, 145) 1.75517px 0.958851px 0px,
    rgb(139, 19, 145) 1.0806px 1.68294px 0px,
    rgb(139, 19, 145) 0.141474px 1.99499px 0px,
    rgb(139, 19, 145) -0.832294px 1.81859px 0px,
    rgb(139, 19, 145) -1.60229px 1.19694px 0px,
    rgb(139, 19, 145) -1.97998px 0.28224px 0px,
    rgb(139, 19, 145) -1.87291px -0.701566px 0px,
    rgb(139, 19, 145) -1.30729px -1.5136px 0px,
    rgb(139, 19, 145) -0.421592px -1.95506px 0px,
    rgb(139, 19, 145) 0.567324px -1.91785px 0px,
    rgb(139, 19, 145) 1.41734px -1.41108px 0px,
    rgb(139, 19, 145) 1.92034px -0.558831px 0px;
  text-transform: uppercase;
}

.body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.body p {
  color: #00E7FF;
  display: block;
  font-family: var(--nunito);
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.row {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.qrcode {
  border: 2px solid #7563DF;
  border-radius: 10px;
  display: block;
  height: 136px;
  min-height: 136px;
  min-width: 136px;
  padding: 5px;
  width: 136px;
}

.qrcode canvas {
  border-radius: 6px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text > span {
  color: #ffffff;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  top: -3px;
  text-align: center;
}

.text p {
  margin: 3px 0;
}

.code {
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: center;
  width: 100%;
}

.code span {
  background: #0B045B;
  border: 2px solid #7563DF;
  border-radius: 6px;
  color: #F1FF66;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 62px;
  font-weight: 600
  height: 66px;
  line-height: 66px;
  text-align: center;
  width: 48px;
}