.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.btnleft,
.btnright{
  position: absolute;
  left: 29px;
  top: 25px;
}

.btnright{
  left: auto;
  right: 29px;
}

.qrcodeContainer {
  align-items: center;
  background-color: #2A13A2;
  border: 7px solid #5941CD;
  border-radius: 8px;
  box-shadow: 0 0 0 6px #10107F, 0 0 0 11px #8181C6, 0 0 0 15px #BFB6F2, 0 0 0 18px #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 846px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 538px;
}

.corners {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 936px;
  pointer-events: none;
  position: absolute;
  top: -54px;
  width: 144px;
}

.cornersLeft {
  background-image: url('/images/cornersLeft.svg');
  left:-48px; 
}

.cornersRight {
  background-image: url('/images/cornersRight.svg');
  right:-48px; 
}

.light, .lightLeft:before, .lightRight:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  height: 665px;
  pointer-events: none;
  position: absolute;
  top: 135px;
  width: 38px;
}

.lightLeft:before, .lightRight:before {
  animation: pulse 2s linear infinite;
  top: 0;
}

.lightLeft:after, .lightRight:after {
  animation: pulse 2s linear infinite;
  background-image: url('/images/lightBlur.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
  height: 836px;
  pointer-events: none;
  position: absolute;
  top: -55px;
  left: 0;
  width: 116px;
}

.lightLeft {
  background-image: url('/images/lightLeft.svg');
  left: -18px;
}

.lightLeft:before {
  background-image: url('/images/lightLeftActive.svg');
  content: '';
}

.lightLeft:after {
  left: -53px;
}

.lightRight {
  background-image: url('/images/lightRight.svg');
  right: -18px;
}

.lightRight:before {
  background-image: url('/images/lightRightActive.svg');
  content: '';
}

.lightRight:after {
  left: -30px;
}


@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.box {
  align-items: center;
  background-color: #190A76;
  border: 2px solid #3820C0;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  position: relative;
  width: 100%;
}

.box.pb {
  padding-bottom: 45px;
}

.box > p {
  color: #47E1F1;
  display: block;
  font-family: var(--font-asap-condensed);
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.qrcodeBox {
  align-items: flex-start;
  background-image: url('/images/qrCodeBoxEdge.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 430px;
  justify-content: center;
  padding: 40px 25px 25px;
  position: relative;
  width: 414px;
}

.qrcodeBox:after {
  animation: pulse 2s linear infinite;
  background-image: url('/images/qrCodeBoxEdgeActive.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  display: block;
  height: 430px;
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
}

.qrcode {
  border: 2px solid #190A76;
  border-radius: 15px;
  box-shadow: 0 0 0 8px #7563DF, 0 18px 0 8px #4D25BE,0 0 0 11px #968BFC, 0 20px 0 11px #968BFC, 0 21px 0 14px #100751, 0 0 0 14px #100751;
  display: block;
  height: 326px;
  overflow: hidden;
  width: 326px;
}

.or {
  background: #2A13A2;
  border-radius: 50%;
  color: #B4ACFF;
  display: block;
  height: 60px;
  font-size: 36px;
  left: 50%;
  line-height: 54px;
  text-align: center;
  position: absolute;
  top: -38px;
  transform: translateX(-50%);
  width: 60px;
}

.input {
  align-items: center;
  background-color: #2D0D8C;
  border: 2px solid #6043EE;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  height: 68px;
  margin-top: 15px;
  padding: 15px;
  width: 405px;
}

.input span {
  background-image: url('/images/icoLink.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 32px;
  width: 32px;
}

.input p {
  color: #DDE0FF;
  display: block;
  font-size: 33px;
}