.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  gap: 150px;
  width: 100%;
}

.btnleft,
.btnright {
  position: absolute;
  left: 29px;
  top: 25px;
}

.btnright {
  left: auto;
  right: 29px;
}

.qrcodeContainer {
  align-items: center;
  background-color: #2a13a2;
  border: 7px solid #5941cd;
  border-radius: 8px;
  box-shadow:
    0 0 0 6px #10107f,
    0 0 0 11px #8181c6,
    0 0 0 15px #bfb6f2,
    0 0 0 18px #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 846px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 538px;
}

.corners {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 936px;
  pointer-events: none;
  position: absolute;
  top: -54px;
  width: 144px;
}

.cornersLeft {
  background-image: url('/images/cornersLeft.svg');
  left: -48px;
}

.cornersRight {
  background-image: url('/images/cornersRight.svg');
  right: -48px;
}

.light,
.lightLeft:before,
.lightRight:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  height: 665px;
  pointer-events: none;
  position: absolute;
  top: 135px;
  width: 38px;
}

.lightLeft:before,
.lightRight:before {
  animation: pulse 2s linear infinite;
  top: 0;
}

.lightLeft:after,
.lightRight:after {
  animation: pulse 2s linear infinite;
  background-image: url('/images/lightBlur.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
  height: 836px;
  pointer-events: none;
  position: absolute;
  top: -55px;
  left: 0;
  width: 116px;
}

.lightLeft {
  background-image: url('/images/lightLeft.svg');
  left: -18px;
}

.lightLeft:before {
  background-image: url('/images/lightLeftActive.svg');
  content: '';
}

.lightLeft:after {
  left: -53px;
}

.lightRight {
  background-image: url('/images/lightRight.svg');
  right: -18px;
}

.lightRight:before {
  background-image: url('/images/lightRightActive.svg');
  content: '';
}

.lightRight:after {
  left: -30px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.box {
  align-items: center;
  background-color: #190a76;
  border: 2px solid #3820c0;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  position: relative;
  width: 100%;
}

.box.pb {
  padding-bottom: 45px;
}

.box > p {
  color: #47e1f1;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 38px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 72%;
}

.qrcodeBox {
  align-items: flex-start;
  background-image: url('/images/qrCodeBoxEdge.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 430px;
  justify-content: center;
  padding: 40px 25px 25px;
  position: relative;
  width: 414px;
}

.qrcodeBox:after {
  animation: pulse 2s linear infinite;
  background-image: url('/images/qrCodeBoxEdgeActive.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  display: block;
  height: 430px;
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
}

.qrcode {
  border: 2px solid #190a76;
  border-radius: 15px;
  box-shadow:
    0 0 0 8px #7563df,
    0 18px 0 8px #4d25be,
    0 0 0 11px #968bfc,
    0 20px 0 11px #968bfc,
    0 21px 0 14px #100751,
    0 0 0 14px #100751;
  display: block;
  height: 326px;
  overflow: hidden;
  width: 326px;
}

.or {
  background: #2a13a2;
  border-radius: 50%;
  color: #b4acff;
  display: block;
  height: 60px;
  font-family: var(--asap-condensed);
  font-size: 36px;
  font-weight: 700;
  left: 50%;
  line-height: 54px;
  text-align: center;
  position: absolute;
  top: -38px;
  transform: translateX(-50%);
  width: 60px;
}

.input {
  align-items: center;
  background-color: #2d0d8c;
  border: 2px solid #6043ee;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  height: 68px;
  margin-top: 15px;
  padding: 15px;
  width: 405px;
}

.input span {
  background-image: url('/images/icoLink.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 32px;
  width: 32px;
}

.input p {
  color: #dde0ff;
  display: block;
  font-family: var(--nunito);
  font-size: 33px;
  font-weight: 700;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.logo {
  background-image: url('/images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 195px;
  width: 430px;
}

.howToPlay {
  align-items: center;
  background-image: url('/images/bgHowToPlay.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 633px;
  position: relative;
  width: 890px;
}

.howToPlay:before {
  animation: pulse 2s linear infinite;
  background-color: rgba(0, 231, 255, 0.8);
  border-radius: 35px;
  box-shadow: 0 0 45px 35px rgba(0, 231, 255, 0.8);
  content: '';
  display: block;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  z-index: -1;
}

.title {
  align-items: center;
  color: #47e1f1;
  display: flex;
  font-family: var(--asap-condensed);
  font-size: 50px;
  font-weight: 700;
  height: 120px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow:
    rgb(21, 11, 96) 4px 0px 0px,
    rgb(21, 11, 96) 3.87565px 0.989616px 0px,
    rgb(21, 11, 96) 3.51033px 1.9177px 0px,
    rgb(21, 11, 96) 2.92676px 2.72656px 0px,
    rgb(21, 11, 96) 2.16121px 3.36588px 0px,
    rgb(21, 11, 96) 1.26129px 3.79594px 0px,
    rgb(21, 11, 96) 0.282949px 3.98998px 0px,
    rgb(21, 11, 96) -0.712984px 3.93594px 0px,
    rgb(21, 11, 96) -1.66459px 3.63719px 0px,
    rgb(21, 11, 96) -2.51269px 3.11229px 0px,
    rgb(21, 11, 96) -3.20457px 2.39389px 0px,
    rgb(21, 11, 96) -3.69721px 1.52664px 0px,
    rgb(21, 11, 96) -3.95997px 0.56448px 0px,
    rgb(21, 11, 96) -3.97652px -0.432781px 0px,
    rgb(21, 11, 96) -3.74583px -1.40313px 0px,
    rgb(21, 11, 96) -3.28224px -2.28625px 0px,
    rgb(21, 11, 96) -2.61457px -3.02721px 0px,
    rgb(21, 11, 96) -1.78435px -3.57996px 0px,
    rgb(21, 11, 96) -0.843183px -3.91012px 0px,
    rgb(21, 11, 96) 0.150409px -3.99717px 0px,
    rgb(21, 11, 96) 1.13465px -3.8357px 0px,
    rgb(21, 11, 96) 2.04834px -3.43574px 0px,
    rgb(21, 11, 96) 2.83468px -2.82216px 0px,
    rgb(21, 11, 96) 3.44477px -2.03312px 0px,
    rgb(21, 11, 96) 3.84068px -1.11766px 0px,
    rgb(21, 11, 96) 3.9978px -0.132717px 0px;
  width: 100%;
}

.steps {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 510px;
  width: 785px;
}

.steps .data {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 452px;
  position: relative;
  width: 100%;
}

.data .step {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.data .step .lottie {
  background-color: rgba(179, 49, 255, 0.2);
  border-radius: 15px;
  display: block;
  height: 275px;
  margin-bottom: 15px;
  width: 530px;
}

.data .step p {
  color: #bb9cff;
  display: block;
  font-family: var(--nunito);
  font-size: 33px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-shadow:
    rgb(11, 0, 114) 2px 0px 0px,
    rgb(11, 0, 114) 1.75517px 0.958851px 0px,
    rgb(11, 0, 114) 1.0806px 1.68294px 0px,
    rgb(11, 0, 114) 0.141474px 1.99499px 0px,
    rgb(11, 0, 114) -0.832294px 1.81859px 0px,
    rgb(11, 0, 114) -1.60229px 1.19694px 0px,
    rgb(11, 0, 114) -1.97998px 0.28224px 0px,
    rgb(11, 0, 114) -1.87291px -0.701566px 0px,
    rgb(11, 0, 114) -1.30729px -1.5136px 0px,
    rgb(11, 0, 114) -0.421592px -1.95506px 0px,
    rgb(11, 0, 114) 0.567324px -1.91785px 0px,
    rgb(11, 0, 114) 1.41734px -1.41108px 0px,
    rgb(11, 0, 114) 1.92034px -0.558831px 0px;
  width: 70%;
}

.steps ul {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 12px 0 0 4px;
  width: 255px;
}

.steps ul li {
  background-color: rgba(0, 231, 255, 0.3);
  border: 2px solid #83f6ff;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 100%;
}

.steps ul li span {
  background-color: #83f6ff;
  display: block;
  height: 100%;
  width: 0%;
}

@keyframes step {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.step_0 ul li:nth-child(1) span,
.step_1 ul li:nth-child(2) span,
.step_2 ul li:nth-child(3) span {
  animation: step 6s linear forwards;
}

.right > p {
  animation: pulseText 2s linear infinite;
  color: #bdc3ff;
  display: block;
  font-family: var(--nunito);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-shadow:
    rgb(11, 0, 114) 2px 0px 0px,
    rgb(11, 0, 114) 1.75517px 0.958851px 0px,
    rgb(11, 0, 114) 1.0806px 1.68294px 0px,
    rgb(11, 0, 114) 0.141474px 1.99499px 0px,
    rgb(11, 0, 114) -0.832294px 1.81859px 0px,
    rgb(11, 0, 114) -1.60229px 1.19694px 0px,
    rgb(11, 0, 114) -1.97998px 0.28224px 0px,
    rgb(11, 0, 114) -1.87291px -0.701566px 0px,
    rgb(11, 0, 114) -1.30729px -1.5136px 0px,
    rgb(11, 0, 114) -0.421592px -1.95506px 0px,
    rgb(11, 0, 114) 0.567324px -1.91785px 0px,
    rgb(11, 0, 114) 1.41734px -1.41108px 0px,
    rgb(11, 0, 114) 1.92034px -0.558831px 0px;
  width: 100%;
}

@keyframes pulseText {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
