.container {
  align-items: center;
  background: url('/images/bgTheme.svg') 0 0 no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 214px;
  justify-content: flex-start;
  margin: 18px 0 0 10px;
  min-width: 795px;
  position: relative;
  width: 995px;
  z-index: 6;
}

.hitTheme:before,
.hitTheme:after {
  animation: pulse 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  content: '';
  display: block;
  height: 320px;
  left: -82px;
  position: absolute;
  top: -59px;
  width: 240px;
}

.hitTheme:before {
  background-image: url('/images/headerHitLeft.svg');
}

.hitTheme:after {
  background-image: url('/images/headerHitRight.svg');
  left: auto;
  right: -85px;
  top: -67px;
}

.titleContainer {
  align-items: center;
  display: flex;
  position: relative;
  height: 156px;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 896px;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  text-align: center;
  text-shadow: rgb(21, 11, 96) 4px 0px 0px,
    rgb(21, 11, 96) 3.87565px 0.989616px 0px,
    rgb(21, 11, 96) 3.51033px 1.9177px 0px,
    rgb(21, 11, 96) 2.92676px 2.72656px 0px,
    rgb(21, 11, 96) 2.16121px 3.36588px 0px,
    rgb(21, 11, 96) 1.26129px 3.79594px 0px,
    rgb(21, 11, 96) 0.282949px 3.98998px 0px,
    rgb(21, 11, 96) -0.712984px 3.93594px 0px,
    rgb(21, 11, 96) -1.66459px 3.63719px 0px,
    rgb(21, 11, 96) -2.51269px 3.11229px 0px,
    rgb(21, 11, 96) -3.20457px 2.39389px 0px,
    rgb(21, 11, 96) -3.69721px 1.52664px 0px,
    rgb(21, 11, 96) -3.95997px 0.56448px 0px,
    rgb(21, 11, 96) -3.97652px -0.432781px 0px,
    rgb(21, 11, 96) -3.74583px -1.40313px 0px,
    rgb(21, 11, 96) -3.28224px -2.28625px 0px,
    rgb(21, 11, 96) -2.61457px -3.02721px 0px,
    rgb(21, 11, 96) -1.78435px -3.57996px 0px,
    rgb(21, 11, 96) -0.843183px -3.91012px 0px,
    rgb(21, 11, 96) 0.150409px -3.99717px 0px,
    rgb(21, 11, 96) 1.13465px -3.8357px 0px,
    rgb(21, 11, 96) 2.04834px -3.43574px 0px,
    rgb(21, 11, 96) 2.83468px -2.82216px 0px,
    rgb(21, 11, 96) 3.44477px -2.03312px 0px,
    rgb(21, 11, 96) 3.84068px -1.11766px 0px,
    rgb(21, 11, 96) 3.9978px -0.132717px 0px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 100%;
}

.title .text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.title .label {
  color: #8efaff;
  display: block;
  font-size: 32px;
  flex-shrink: 0;
  line-height: 40px;
  text-align: center;
  text-shadow: rgb(21, 11, 96) 3px 0px 0px,
    rgb(21, 11, 96) 2.83487px 0.981584px 0px,
    rgb(21, 11, 96) 2.35766px 1.85511px 0px,
    rgb(21, 11, 96) 1.62091px 2.52441px 0px,
    rgb(21, 11, 96) 0.705713px 2.91581px 0px,
    rgb(21, 11, 96) -0.287171px 2.98622px 0px,
    rgb(21, 11, 96) -1.24844px 2.72789px 0px,
    rgb(21, 11, 96) -2.07227px 2.16926px 0px,
    rgb(21, 11, 96) -2.66798px 1.37182px 0px,
    rgb(21, 11, 96) -2.96998px 0.42336px 0px,
    rgb(21, 11, 96) -2.94502px -0.571704px 0px,
    rgb(21, 11, 96) -2.59586px -1.50383px 0px,
    rgb(21, 11, 96) -1.96093px -2.27041px 0px,
    rgb(21, 11, 96) -1.11013px -2.78704px 0px,
    rgb(21, 11, 96) -0.137119px -2.99686px 0px,
    rgb(21, 11, 96) 0.850987px -2.87677px 0px,
    rgb(21, 11, 96) 1.74541px -2.43999px 0px,
    rgb(21, 11, 96) 2.44769px -1.73459px 0px,
    rgb(21, 11, 96) 2.88051px -0.838247px 0px;
  text-transform: uppercase;
  width: 100%;
}

.title .loading {
  color: #ffffff;
}

.title .theme {
  color: #ffffff;
  display: block;
  width: 100%;
}

.textMedium {
  font-size: 52px;
}

.textLarge {
  font-size: 76px;
}

.title .who,
.title .word {
  color: #ffffff;
  display: block;
  font-size: 42px;
  flex-shrink: 0;
  line-height: 42px;
  text-align: center;
  text-shadow: rgb(21, 11, 96) 3px 0px 0px,
    rgb(21, 11, 96) 2.83487px 0.981584px 0px,
    rgb(21, 11, 96) 2.35766px 1.85511px 0px,
    rgb(21, 11, 96) 1.62091px 2.52441px 0px,
    rgb(21, 11, 96) 0.705713px 2.91581px 0px,
    rgb(21, 11, 96) -0.287171px 2.98622px 0px,
    rgb(21, 11, 96) -1.24844px 2.72789px 0px,
    rgb(21, 11, 96) -2.07227px 2.16926px 0px,
    rgb(21, 11, 96) -2.66798px 1.37182px 0px,
    rgb(21, 11, 96) -2.96998px 0.42336px 0px,
    rgb(21, 11, 96) -2.94502px -0.571704px 0px,
    rgb(21, 11, 96) -2.59586px -1.50383px 0px,
    rgb(21, 11, 96) -1.96093px -2.27041px 0px,
    rgb(21, 11, 96) -1.11013px -2.78704px 0px,
    rgb(21, 11, 96) -0.137119px -2.99686px 0px,
    rgb(21, 11, 96) 0.850987px -2.87677px 0px,
    rgb(21, 11, 96) 1.74541px -2.43999px 0px,
    rgb(21, 11, 96) 2.44769px -1.73459px 0px,
    rgb(21, 11, 96) 2.88051px -0.838247px 0px;
  text-transform: uppercase;
  width: 100%;
}

.title .word {
  font-size: 76px;
  line-height: 76px;
}

.title .who b,
.title .word b {
  color: #f1ff66;
}

.transitionWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.loading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  opacity: 0.7;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.find {
  color: #065c91;
  display: block;
  font-size: 24px;
  flex-shrink: 0;
  height: 52px;
  letter-spacing: 3px;
  line-height: 52px;
  margin-top: 3px;
  position: relative;
  text-align: center;
  text-shadow: rgb(204, 254, 255) 2px 0px 0px,
    rgb(204, 254, 255) 1.75517px 0.958851px 0px,
    rgb(204, 254, 255) 1.0806px 1.68294px 0px,
    rgb(204, 254, 255) 0.141474px 1.99499px 0px,
    rgb(204, 254, 255) -0.832294px 1.81859px 0px,
    rgb(204, 254, 255) -1.60229px 1.19694px 0px,
    rgb(204, 254, 255) -1.97998px 0.28224px 0px,
    rgb(204, 254, 255) -1.87291px -0.701566px 0px,
    rgb(204, 254, 255) -1.30729px -1.5136px 0px,
    rgb(204, 254, 255) -0.421592px -1.95506px 0px,
    rgb(204, 254, 255) 0.567324px -1.91785px 0px,
    rgb(204, 254, 255) 1.41734px -1.41108px 0px,
    rgb(204, 254, 255) 1.92034px -0.558831px 0px;
  text-transform: uppercase;
  width: 100%;
}

.fade-enter .loading,
.fade-enter .label,
.fade-enter .theme,
.fade-enter .who,
.fade-enter .word {
  opacity: 0;
  transform: scale(0.2);
}

.fade-enter-active .loading,
.fade-enter-active .label,
.fade-enter-active .theme,
.fade-enter-active .who,
.fade-enter-active .word {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms, transform 250ms;
}

.fade-exit .loading,
.fade-exit .label,
.fade-exit .theme,
.fade-exit .who,
.fade-exit .word {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active .loading,
.fade-exit-active .label,
.fade-exit-active .theme,
.fade-exit-active .who,
.fade-exit-active .word {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 250ms, transform 250ms;
}

/* @keyframes scale {
  0% {
    transform: scale3d(0.2, 0.2, 0.2);
    opacity: 0;
  }
  70% {
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
} */
