.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  color: rgb(34, 211, 238);
}

.iconWarning {
  color: rgb(239, 68, 68);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.content {
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.value {
  font-size: 2.25rem;
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    monospace;
  font-weight: 700;
  line-height: 1;
  color: white;
}

.valueWarning {
  color: rgb(248, 113, 113);
}

.label {
  font-size: 0.625rem;
  color: rgb(100, 116, 139);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
