.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--font-asap-condensed);
  font-weight: 700;
  height: 122px;
  justify-content: flex-start;
  margin: 22px 0 0 5px;
  width: 310px;
}

.hit {
  z-index: 6;
}

.top {
  align-items: center;
  display: flex;
  gap: 18px;
  justify-content: flex-start;
  margin: 14px 0 0 28px;
  width: 100%;
}

.icon {
  background: url('/images/icoClock.svg') no-repeat center center;
  background-size: contain;
  display: block;
  height: 32px;
  width: 32px;
}

.timeBar {
  background: #004b96;
  border: 1px solid #73fffb;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #2a1c7c;
  display: block;
  height: 30px;
  overflow: hidden;
  transform: skew(-15deg);
  width: 212px;
}

.timeBar span {
  background: #72f2ff;
  border: 2px solid #cafffd;
  border-radius: 1.5px;
  display: block;
  height: 100%;
  transition: width 1s linear;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  width: 180px;
}

.label {
  color: #72f2ff;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 0.5;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
}

.value {
  color: #72f2ff;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1;
  text-shadow: rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
}

.warning .icon {
  animation: pulseIcon 0.5s infinite;
  background-image: url('/images/icoClockRed.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes pulseIcon {
  0% {
    background-image: url('/images/icoClockRed.svg');
  }
  50% {
    background-image: url('/images/icoClockRed2.svg');
  }
  100% {
    background-image: url('/images/icoClockRed.svg');
  }
}

.warning .timeBar {
  background: #5c1355;
  border: 1px solid #fd8ccc;
}

.warning .timeBar span {
  animation: pulseBgColor 0.5s infinite;
  background: #ff418d;
  border: 2px solid #ff9ec5;
}

@keyframes pulseBgColor {
  0% {
    background: #ff418d;
    border-color: #ff9ec5;
  }
  50% {
    background: #ffb9d5;
    border-color: #ffdfec;
  }
  100% {
    background: #ff418d;
    border-color: #ff9ec5;
  }
}

.warning .label,
.warning .value {
  animation: pulseColor 0.5s infinite;
  color: #ff418d;
}

@keyframes pulseColor {
  0% {
    color: #ff418d;
  }
  50% {
    color: #ffb9d5;
  }
  100% {
    color: #ff418d;
  }
}
