.container {
  align-items: center;
  background: rgba(25, 11, 94, 0.6);
  border: 2px solid #7976ff;
  border-radius: 19px;
  display: flex;
  font-family: var(--nunito);
  height: 493px;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.fullHeight {
  height: 770px;
}

.containerEdge {
  background: url('/images/rankingEdge.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.fullHeight .containerEdge {
  background: url('/images/rankingEdgeFull.svg') no-repeat center center;
  background-size: contain;
}

.header {
  align-items: center;
  background: url('/images/bgSidebarTitle.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 14px;
  position: absolute;
  right: -4px;
  top: -36px;
  width: 342px;
}

.icon {
  background: url('/images/icoTrophy.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 27px;
  width: 36px;
}

.title {
  color: #ffffff;
  display: block;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: rgb(139, 19, 145) 2px 0px 0px,
    rgb(139, 19, 145) 1.75517px 0.958851px 0px,
    rgb(139, 19, 145) 1.0806px 1.68294px 0px,
    rgb(139, 19, 145) 0.141474px 1.99499px 0px,
    rgb(139, 19, 145) -0.832294px 1.81859px 0px,
    rgb(139, 19, 145) -1.60229px 1.19694px 0px,
    rgb(139, 19, 145) -1.97998px 0.28224px 0px,
    rgb(139, 19, 145) -1.87291px -0.701566px 0px,
    rgb(139, 19, 145) -1.30729px -1.5136px 0px,
    rgb(139, 19, 145) -0.421592px -1.95506px 0px,
    rgb(139, 19, 145) 0.567324px -1.91785px 0px,
    rgb(139, 19, 145) 1.41734px -1.41108px 0px,
    rgb(139, 19, 145) 1.92034px -0.558831px 0px;
  text-transform: uppercase;
}

.list {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.25rem;
}

.list > * + * {
  margin-top: 4px;
}

.empty {
  align-items: center;
  color: #7580ff;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  line-height: 1.2;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

.empty span {
  background: url('/images/icoTrophy2.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 56px;
  margin-bottom: 20px;
  width: 77px;
}
