.container {
  align-items: center;
  background: rgba(25, 11, 94, 0.6);
  border: 2px solid #7976ff;
  border-radius: 19px;
  display: flex;
  height: 493px;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.fullHeight {
  height: 770px;
}

.containerEdge {
  background: url('/images/rankingEdge.svg') no-repeat center center;
  background-size: contain;
  display: flex;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.fullHeight .containerEdge {
  background: url('/images/rankingEdgeFull.svg') no-repeat center center;
  background-size: contain;
}

.header {
  align-items: center;
  background: url('/images/bgSidebarTitle.svg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 14px;
  position: absolute;
  right: -4px;
  top: -38px;
  width: 342px;
}

.icon {
  background: url('/images/icoTrophy.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 27px;
  width: 36px;
}

.title {
  color: #ffffff;
  display: block;
  font-size: 26px;
  text-shadow: rgb(139, 19, 145) 2px 0px 0px,
    rgb(139, 19, 145) 1.75517px 0.958851px 0px,
    rgb(139, 19, 145) 1.0806px 1.68294px 0px,
    rgb(139, 19, 145) 0.141474px 1.99499px 0px,
    rgb(139, 19, 145) -0.832294px 1.81859px 0px,
    rgb(139, 19, 145) -1.60229px 1.19694px 0px,
    rgb(139, 19, 145) -1.97998px 0.28224px 0px,
    rgb(139, 19, 145) -1.87291px -0.701566px 0px,
    rgb(139, 19, 145) -1.30729px -1.5136px 0px,
    rgb(139, 19, 145) -0.421592px -1.95506px 0px,
    rgb(139, 19, 145) 0.567324px -1.91785px 0px,
    rgb(139, 19, 145) 1.41734px -1.41108px 0px,
    rgb(139, 19, 145) 1.92034px -0.558831px 0px;
}

.list {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.25rem;
}

.list > * + * {
  margin-top: 4px;
}

.empty {
  align-items: center;
  color: #7580ff;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  height: 100%;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

.empty span {
  background: url('/images/icoTrophy2.svg') no-repeat center center;
  background-size: cover;
  display: block;
  height: 56px;
  margin-bottom: 20px;
  width: 77px;
}

.playerRow {
  align-items: center;
  background: linear-gradient(to right, #662fcc, transparent);
  border-radius: 6px 0 0 6px;
  display: flex;
  height: 43px;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.2s;
}

.playerRow:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.playerInfo {
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: flex-start;
  width: 100%;
}

.playerRank {
  display: block;
  font-size: 30px;
  height: 100%;
  text-align: center;
  padding-right: 8px;
  width: 54px;
}

.playerRankGold {
  background: url('/images/bgRankingNumber1.svg') 0 0 no-repeat;
  background-size: cover;
  color: #fdffd4;
  text-shadow: rgb(89, 104, 28) 2px 0px 0px,
    rgb(89, 104, 28) 1.75517px 0.958851px 0px,
    rgb(89, 104, 28) 1.0806px 1.68294px 0px,
    rgb(89, 104, 28) 0.141474px 1.99499px 0px,
    rgb(89, 104, 28) -0.832294px 1.81859px 0px,
    rgb(89, 104, 28) -1.60229px 1.19694px 0px,
    rgb(89, 104, 28) -1.97998px 0.28224px 0px,
    rgb(89, 104, 28) -1.87291px -0.701566px 0px,
    rgb(89, 104, 28) -1.30729px -1.5136px 0px,
    rgb(89, 104, 28) -0.421592px -1.95506px 0px,
    rgb(89, 104, 28) 0.567324px -1.91785px 0px,
    rgb(89, 104, 28) 1.41734px -1.41108px 0px,
    rgb(89, 104, 28) 1.92034px -0.558831px 0px;
}

.playerRankSilver {
  background: url('/images/bgRankingNumber2.svg') 0 0 no-repeat;
  background-size: cover;
  color: #f0f0ff;
  text-shadow: rgb(62, 60, 112) 2px 0px 0px,
    rgb(62, 60, 112) 1.75517px 0.958851px 0px,
    rgb(62, 60, 112) 1.0806px 1.68294px 0px,
    rgb(62, 60, 112) 0.141474px 1.99499px 0px,
    rgb(62, 60, 112) -0.832294px 1.81859px 0px,
    rgb(62, 60, 112) -1.60229px 1.19694px 0px,
    rgb(62, 60, 112) -1.97998px 0.28224px 0px,
    rgb(62, 60, 112) -1.87291px -0.701566px 0px,
    rgb(62, 60, 112) -1.30729px -1.5136px 0px,
    rgb(62, 60, 112) -0.421592px -1.95506px 0px,
    rgb(62, 60, 112) 0.567324px -1.91785px 0px,
    rgb(62, 60, 112) 1.41734px -1.41108px 0px,
    rgb(62, 60, 112) 1.92034px -0.558831px 0px;
}

.playerRankBronze {
  background: url('/images/bgRankingNumber3.svg') 0 0 no-repeat;
  background-size: cover;
  color: #ffda9f;
  text-shadow: rgb(117, 41, 11) 2px 0px 0px,
    rgb(117, 41, 11) 1.75517px 0.958851px 0px,
    rgb(117, 41, 11) 1.0806px 1.68294px 0px,
    rgb(117, 41, 11) 0.141474px 1.99499px 0px,
    rgb(117, 41, 11) -0.832294px 1.81859px 0px,
    rgb(117, 41, 11) -1.60229px 1.19694px 0px,
    rgb(117, 41, 11) -1.97998px 0.28224px 0px,
    rgb(117, 41, 11) -1.87291px -0.701566px 0px,
    rgb(117, 41, 11) -1.30729px -1.5136px 0px,
    rgb(117, 41, 11) -0.421592px -1.95506px 0px,
    rgb(117, 41, 11) 0.567324px -1.91785px 0px,
    rgb(117, 41, 11) 1.41734px -1.41108px 0px,
    rgb(117, 41, 11) 1.92034px -0.558831px 0px;
}

.playerRankDefault {
  background: url('/images/bgRankingNumber.svg') 0 0 no-repeat;
  background-size: cover;
  color: #e9d9ff;
}

.playerName {
  color: #ffffff;
  display: block;
  font-size: 26px;
  font-weight: 700;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-shadow: rgb(44, 14, 127) 3px 0px 0px,
    rgb(44, 14, 127) 2.83487px 0.981584px 0px,
    rgb(44, 14, 127) 2.35766px 1.85511px 0px,
    rgb(44, 14, 127) 1.62091px 2.52441px 0px,
    rgb(44, 14, 127) 0.705713px 2.91581px 0px,
    rgb(44, 14, 127) -0.287171px 2.98622px 0px,
    rgb(44, 14, 127) -1.24844px 2.72789px 0px,
    rgb(44, 14, 127) -2.07227px 2.16926px 0px,
    rgb(44, 14, 127) -2.66798px 1.37182px 0px,
    rgb(44, 14, 127) -2.96998px 0.42336px 0px,
    rgb(44, 14, 127) -2.94502px -0.571704px 0px,
    rgb(44, 14, 127) -2.59586px -1.50383px 0px,
    rgb(44, 14, 127) -1.96093px -2.27041px 0px,
    rgb(44, 14, 127) -1.11013px -2.78704px 0px,
    rgb(44, 14, 127) -0.137119px -2.99686px 0px,
    rgb(44, 14, 127) 0.850987px -2.87677px 0px,
    rgb(44, 14, 127) 1.74541px -2.43999px 0px,
    rgb(44, 14, 127) 2.44769px -1.73459px 0px,
    rgb(44, 14, 127) 2.88051px -0.838247px 0px;
  width: 152px;
  white-space: nowrap;
}

.playerRound {
  align-items: center;
  background: linear-gradient(to bottom, #e72eed 48%, #c400c9);
  border: 1px solid #f75cff;
  border-radius: 0.5rem;
  color: #ffffff;
  display: flex;
  font-size: 32px;
  height: 40px;
  justify-content: center;
  position: relative;
  text-shadow: rgb(139, 19, 145) 3px 0px 0px,
    rgb(139, 19, 145) 2.83487px 0.981584px 0px,
    rgb(139, 19, 145) 2.35766px 1.85511px 0px,
    rgb(139, 19, 145) 1.62091px 2.52441px 0px,
    rgb(139, 19, 145) 0.705713px 2.91581px 0px,
    rgb(139, 19, 145) -0.287171px 2.98622px 0px,
    rgb(139, 19, 145) -1.24844px 2.72789px 0px,
    rgb(139, 19, 145) -2.07227px 2.16926px 0px,
    rgb(139, 19, 145) -2.66798px 1.37182px 0px,
    rgb(139, 19, 145) -2.96998px 0.42336px 0px,
    rgb(139, 19, 145) -2.94502px -0.571704px 0px,
    rgb(139, 19, 145) -2.59586px -1.50383px 0px,
    rgb(139, 19, 145) -1.96093px -2.27041px 0px,
    rgb(139, 19, 145) -1.11013px -2.78704px 0px,
    rgb(139, 19, 145) -0.137119px -2.99686px 0px,
    rgb(139, 19, 145) 0.850987px -2.87677px 0px,
    rgb(139, 19, 145) 1.74541px -2.43999px 0px,
    rgb(139, 19, 145) 2.44769px -1.73459px 0px,
    rgb(139, 19, 145) 2.88051px -0.838247px 0px;
  width: 40px;
}

.playerRoundHidden {
  opacity: 0;
}

.playerRound:before {
  background-color: #ffffff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 5px;
  left: 1px;
  position: absolute;
  top: 2px;
  transform: rotate(-30deg);
  width: 10px;
}

.playerTotal {
  color: #f1ff66;
  display: block;
  font-size: 30px;
  font-weight: 900;
  margin-left: auto;
  text-shadow: rgb(21, 11, 96) 3px 0px 0px,
    rgb(21, 11, 96) 2.83487px 0.981584px 0px,
    rgb(21, 11, 96) 2.35766px 1.85511px 0px,
    rgb(21, 11, 96) 1.62091px 2.52441px 0px,
    rgb(21, 11, 96) 0.705713px 2.91581px 0px,
    rgb(21, 11, 96) -0.287171px 2.98622px 0px,
    rgb(21, 11, 96) -1.24844px 2.72789px 0px,
    rgb(21, 11, 96) -2.07227px 2.16926px 0px,
    rgb(21, 11, 96) -2.66798px 1.37182px 0px,
    rgb(21, 11, 96) -2.96998px 0.42336px 0px,
    rgb(21, 11, 96) -2.94502px -0.571704px 0px,
    rgb(21, 11, 96) -2.59586px -1.50383px 0px,
    rgb(21, 11, 96) -1.96093px -2.27041px 0px,
    rgb(21, 11, 96) -1.11013px -2.78704px 0px,
    rgb(21, 11, 96) -0.137119px -2.99686px 0px,
    rgb(21, 11, 96) 0.850987px -2.87677px 0px,
    rgb(21, 11, 96) 1.74541px -2.43999px 0px,
    rgb(21, 11, 96) 2.44769px -1.73459px 0px,
    rgb(21, 11, 96) 2.88051px -0.838247px 0px;
}
