.modalOverlay {
  align-items: center;
  background-color: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  z-index: 20;
}

.modalContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: #8efaff;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.content .lottie {
  display: block;
  height: 130px;
}

.content .lottie div,
.content .lottie svg {
  height: 100% !important;
  width: auto !important;
}

.content .description {
  color: #ffffff;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow:
    rgb(21, 11, 96) 2px 0px 0px,
    rgb(21, 11, 96) 1.75517px 0.958851px 0px,
    rgb(21, 11, 96) 1.0806px 1.68294px 0px,
    rgb(21, 11, 96) 0.141474px 1.99499px 0px,
    rgb(21, 11, 96) -0.832294px 1.81859px 0px,
    rgb(21, 11, 96) -1.60229px 1.19694px 0px,
    rgb(21, 11, 96) -1.97998px 0.28224px 0px,
    rgb(21, 11, 96) -1.87291px -0.701566px 0px,
    rgb(21, 11, 96) -1.30729px -1.5136px 0px,
    rgb(21, 11, 96) -0.421592px -1.95506px 0px,
    rgb(21, 11, 96) 0.567324px -1.91785px 0px,
    rgb(21, 11, 96) 1.41734px -1.41108px 0px,
    rgb(21, 11, 96) 1.92034px -0.558831px 0px;
  width: 200px;
}

.buttons {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 302px;
}

.btn {
  background-color: #8efaff;
  border: 2px solid #d9fdff;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: var(--asap-condensed);
  font-size: 26px;
  font-weight: 700;
  height: 54px;
  width: 100%;
  text-shadow:
    rgb(6, 3, 22) 3px 0px 0px,
    rgb(6, 3, 22) 2.83487px 0.981584px 0px,
    rgb(6, 3, 22) 2.35766px 1.85511px 0px,
    rgb(6, 3, 22) 1.62091px 2.52441px 0px,
    rgb(6, 3, 22) 0.705713px 2.91581px 0px,
    rgb(6, 3, 22) -0.287171px 2.98622px 0px,
    rgb(6, 3, 22) -1.24844px 2.72789px 0px,
    rgb(6, 3, 22) -2.07227px 2.16926px 0px,
    rgb(6, 3, 22) -2.66798px 1.37182px 0px,
    rgb(6, 3, 22) -2.96998px 0.42336px 0px,
    rgb(6, 3, 22) -2.94502px -0.571704px 0px,
    rgb(6, 3, 22) -2.59586px -1.50383px 0px,
    rgb(6, 3, 22) -1.96093px -2.27041px 0px,
    rgb(6, 3, 22) -1.11013px -2.78704px 0px,
    rgb(6, 3, 22) -0.137119px -2.99686px 0px,
    rgb(6, 3, 22) 0.850987px -2.87677px 0px,
    rgb(6, 3, 22) 1.74541px -2.43999px 0px,
    rgb(6, 3, 22) 2.44769px -1.73459px 0px,
    rgb(6, 3, 22) 2.88051px -0.838247px 0px;
  text-transform: uppercase;
}
